*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.main{
    background-color: black;
    width: 210vh;
    height: 100vh;
}

.navbar{
    /* background-color: black; */
    color: white;
}
.portfolio{
    font-size: 35px;
    color: white;
    padding: 20px 40px;
}
.portfolio span{
    position: relative;
    top: 0px;
    font-size: 30px;
    color: #f9004d;
}

.navbar-nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    left: 500px;
    margin: 20px;
}    
.content{
    position: relative;
    left: 150px;
}
.content h1{
    font-size: 50px;
    color: white;
}
.content h4{
    color: white;
    font-size: 30px;
}
.content h3{
    color: #f9004d;
    font-size: 35px;
}
.contact-us ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 20%;
    position: relative;
    left: 150px;
    font-size: 25px;
}
.contact-us .fb-logo{
    color: #4267B2;
}
.contact-us .inta-logo{
    color: 	#5B51D8;
}
.contact-us .twitter-logo{
    color: #1DA1F2;
}
.contact-us .git-logo{
    color: #4e4949;
}
.about{
    text-align: center;
}
.card{
    text-align: center;
    padding-left: -20px;
    padding-right: -20px;
    padding-bottom: 20px;
    margin-left: 200px;
    position: relative;
    right: 190px;    
    font-size: 18px;
    width: 62%;
}
.card h5{
    font-size: 20px;
}
#card{
    text-align: center;
    padding-left: -40px;
    padding-right: -20px;
    padding-bottom: 20px;
    margin-left: 150px;
    font-size: 18px;
    position: relative;
    right: 385px;
    /* width: 65%;   */
}
#card h5{
    font-size: 20px;
}

#card1{
    text-align: center;
    padding-left: -20px;
    padding-right: -20px;
    padding-bottom: 20px;
    margin-left: 420px;
    position: relative;
    bottom: 195px;
    left: 485px;
}
.card:hover{
    border: none;
    box-shadow: 0px 0px 9px #f9004d;
    background-color: #f9004d;
    transition: 2s;
}
h2{
    position: relative;
    text-align: center;
    bottom: 250px;
}
.box{
    margin-left: 370px;
}
.box button{
    padding: 5px 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(41, 78, 78);
}
.img{
    position: relative;
    left: 800px;
    bottom: 240px;
    border-radius: 8px;
}
.box span{
    color: #1DA1F2;
    font-weight: bold;
    position: relative;
    top: 7px;
}
.box button:hover{
    transform: scale(1.10);
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-left: 430px;
    margin-bottom: 100px;
    position: relative;
    bottom: 250px;
  }
.bars-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 5px;
  }
  
.bars-box h3,
  span {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    bottom: 20px;
  }
  
  .light-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    padding: 15px 15px;
    background: rgb(41, 78, 78);
    border-radius: 15px;
  }
  
  .percent-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    background-color: #1DA1F2;
    border-radius: 25px;
  }
  
  .html-bar {
    width: 90%;
  }
  
  .css-bar {
    width: 80%;
  }
  
  .js-bar {
    width: 20%;
  }
  


